body {
  font-family: "PT Sans", Arial, sans;

  font-size: 14px;
  line-height: 1.86;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;  
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
visibility: hidden;
display: none;
}

.navigation-list,
.reasons-list,
.advantages,
.socials-list,
.filters-list,
.filters-arrow,
.results-list {
  list-style-type: none;
  padding: 0;
}

.navigation-item a:hover,
.socials-item a:hover, 
.results-item a:hover {
  color: #81b3d2;
}

.navigation-item a:focus,
.socials-item a:focus,
.results-item a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.current {
  color: #766357;
}

.navigation ul {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row; 
}

.logo {
 position: absolute;
 margin-left: 529px;
 
}

.navigation-item {
  margin: 0;
  font-weight: bold;
  padding: 22px 72px;
  width: 25%;
}

.navigation-item:last-child,
.navigation-item:nth-child(3) {
  text-align: right;
}

.promo {
  background-image: url(../img/polygon.png), url(../img/background-photo.jpg);
  background-repeat: no-repeat;
  position: absolute, relative;
  background-position: 0px, 507px, 0px, 0px;
  background-position: 0px, 0px, 0px, 0px;

  display: flex;
  flex-direction: column;
}

.promo-picture {
  margin: 0;
  padding-top: 132px;
  padding-left: 370px;
}

.promo-wrapper {
  width: 1200px;
  height: 216px;  
  background-color: #ffffff; 
}

.promo-caption {
  width: 440px;
  margin-left: 380px;
  margin-top: 61px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.promo-reasons {
  margin-top: 38px;
  text-align: center;
  color: #333333;
}

.reasons ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reasons-list {
  text-align: center;
  line-height: 1.5;
  color: #333333;
}

.reasons-list h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.reasons-list h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}

.reasons-item {
  display: flex;
  flex-wrap: wrap;
}
.reasons-wrap {
  width: 400px;
}
.img-wrap {
  width: 800px;
}

.min-wrap {
  margin-top: 46px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 64px;
}

.min-wrap h2 {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
}

.icon-wrapper {
  margin-top: 60px;
  margin-bottom: 32px;
}

.advantages-item p {
  margin-bottom: 87px;
  margin-top: 28px;
}

.reverse {
  flex-direction: row-reverse;
}

.blue-bg {
  color: #ffffff;
  background-color: #81b3d2;

}

.blue-bg h2 {
  color:#ffffff;
}

.gray-bg {
  color: #333333;
  background-color: #eeeeee;
}

.advantages {
  display: flex;

  color: #333333;
  background-color: #ffffff;
}

.offers {
  text-align: center;
  line-height: 1.71;
  color: #333333;
  
 
}

.offers h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
}

.question {
   width: 434px;
   margin-left: 383px;
   margin-right: 383px;
   margin-top: 57px;
   margin-bottom: 52px;
}

.offers-button {
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 140px;
  padding-right: 139px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.form-wrap {
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  
}

.offers-button:hover {
  background-color: #604e43;
}

.offers-button:active,
.offers-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.offers-form {
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
 
  margin-top: 0px;
  margin-left: 316px;
  margin-right: 2316px;
  margin-bottom: 78px;
  
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.data {
  background-image: url(../img/calendar.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.find {
  padding-top: 17px;
  padding-bottom: 22px;
  padding-left: 196px;
  padding-right: 197px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.find:hover {
  background-color: #669ec0;
}

.find:active,
.find:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.page-footer {
  margin: 0;
  padding: 0px;

  
  color: #000000;
  display: flex;
  flex-direction: row;
  
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-left: 132px;
  margin-top: 36px; 
  margin-bottom: 32px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  
}

.socials {
  margin-left: 169px;
}

.socials-list {
 display: flex;
}

.socials-item {
  margin: 36px 6px;
  width: 46px;
  height: 48px;

  position: relative;
  text-align: center;
  align-items: baseline;
  
  background-color: #81b3d2;
}

.copyright {
  margin-left: 228px;
}

.by {
  margin-left: 8px;
}

.registration {
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
}

.registration {
  display: flex;
  flex-direction: row;
}

.infrastructure-legend,
.housing-legend,
.cost-legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  text-align: left;
  color: #ffffff;
}

.show {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 35px;
  padding-right: 33px;

  line-height: 1.5;
  text-align: left;
  color: #ffffff;
  
  background-color: transparent;
  border: solid 2px #ffffff;
}

.filters {
  display: flex;
  align-items: baseline;
  margin-left: 72px;  
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  color: #000000;
}

.filters-list {
  display: flex;
}

.sorting {
  padding-left: 49px;
 
  font-size: 12px;
  line-height: 1.5;
}

.filters-item {
  padding-right: 33px;
}

.filters-item:first-child {
  padding-left: 40px;
}

.filters-item a {
  opacity: 0.3;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.filters-item a:hover {
  opacity: 1;
  color: #81b3d2;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #81b3d2;
}

.filters-item a:active {
  opacity: 1;
  color: #000000 !important;
  text-decoration: none 
}

.filters-item a:focus {
  opacity: 1;
  color: #81b3d2;
  text-decoration: none;
}

.filters-arrow {
  display: flex;
  padding-left: 504px;
}


.results-list {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.results-item {
  display: flex;
  
}

.image-wrap {
  height: 90px;
  margin-left: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info p {
  margin: 0;
}
.name {
  margin-bottom: 17px;
}

.info h2 {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  line-height: 1.24;
}

.colls {
  display: flex;
  line-height: 1.5;
  text-align: left;
  color: #333333;
}

.left-col {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}
.right-col {
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 538px;
  margin-bottom: 30px;
}

.stars {
  background-image: url(../img/star.svg);
  background-repeat: space;  
  margin-top: 29px;
}

.four {
  width: 89px;
  height: 21px;
  margin-left: 21px;
}

.three {
  width: 68px;
  height: 21px;
  margin-left: 46px; 
}

.two {
  width: 47px;
  height: 21px;
  margin-left: 70px;
}

.rating p {
  
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 13px;

  background-color: #f2f2f2; 
  text-align: center;
  
  color: #666666;
}

.detail,
.reserve {
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 17px;
  
  font-weight: bold;
  color: #ffffff;
}

.detail {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 17px;

 background-color: #81b3d2; 
}

.detail:hover {
  color: #ffffff !important;
  background-color: #669ec0;
}

.detail:active,
.detail:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reserve {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: #766357;
}

.reserve:hover {
  color: #ffffff !important;
  background-color: #604e43;
}

.reserve:active,
.reserve:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
