body {
  width: 1200px;
  height: 2762px;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);

  margin-left: 40px;

  font-family: "PT Sans", Arial, sans;

  font-size: 14px;
  line-height: 1.86;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;  
}

a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
visibility: hidden;
}

.navigation-list,
.reasons-list,
.advantages,
.socials-list,
.filters-list,
.filters-arrow,
.results-list {
  list-style-type: none;
}

.navigation-item a:hover,
.socials-item a:hover, 
.results-item a:hover {
  color: #81b3d2;
}

.navigation-item a:focus,
.socials-item a:focus,
.results-item a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.current {
  color: #766357;
}

.page-header ul {
   width: 1200px;
  height: 56px;
  margin:0 auto;
  padding: 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: spase-around;
}

.page-header ul:first-child {
  margin-left: 0px;
}
.page-header ul:nth-child(2) {
  margin-left: 239px;
}
.page-header ul:nth-child(4) {
  margin-right: 239px;
}
.page-header ul:last-child {
  margin-right: 0px;
}

.navigation {
  background-color: #ffffff;
}

.logo {
 
  align-self: center;
  margin-left: 529px;
}

.navigation-item {  
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 74px;
  padding-right: 74px;
}

.promo {
  text-align: center;

  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;  
}

.promo-caption {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24; 
}

.promo-reasons {
  text-align: center;
  color: #333333;
}

.reasons ol {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.reasons-list {
  text-align: center;
  line-height: 1.5;
  color: #333333;
}

.reasons-list h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.reasons-list h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}

.reasons-item {
  width: 400px;
  height: 256px;
}

.reasons-picture {
  width: 800px;
  height: 256px;
}

.reverse {
  flex-direction: row-reverse;
}

.blue-bg {
  color: #ffffff;
  background-color: #81b3d2;
}

.blue-bg h2 {
  color:#ffffff;
}

.gray-bg {
  color: #333333;
  background-color: #eeeeee;
}

.advantages {
  display: flex;
  
  color: #333333;
  background-color: #ffffff;
}

.offers {
  text-align: center;
  line-height: 1.71;
  color: #333333;
}

.offers h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
}

.offers-button {
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 140px;
  padding-right: 139px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.offers-button:hover {
  background-color: #604e43;
}

.offers-button:active,
.offers-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.offers-form {
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

  font-weight: bold;
  text-align: left;
  color: #000000;
}

.data {
  background-image: url(../img/calendar.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.find {
  padding-top: 17px;
  padding-bottom: 22px;
  padding-left: 196px;
  padding-right: 197px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.find:hover {
  background-color: #669ec0;
}

.find:active,
.find:focus {
  color: color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.page-footer {
  text-align: center;
  color: #000000;
}

.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  
}

.tel {
font-size: 21px;
font-weight: bold;
line-height: 1.24;
}

.page-content {
  width: 1200px;
  height: 800px;
  background-image: url(../img/filter-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.registration {
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}
.infrastructure-legend,
.housing-legend,
.cost-legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  text-align: left;
  color: #ffffff;
}

.show {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 35px;
  padding-right: 33px;

  line-height: 1.5;
  text-align: left;
  color: #ffffff;
  
  border: solid 2px #ffffff;
}

.filters {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  color: #000000;
}


.filters-item a {
  opacity: 0.3;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.filters-item a:hover {
  opacity: 1;
  color: #81b3d2;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #81b3d2;
}

.filters-item a:active {
  opacity: 1;
  color: #000000 !important;
  text-decoration: none 
}

.filters-item a:focus {
  opacity: 1;
  color: #81b3d2;
  text-decoration: none;
}


.results {
  line-height: 1.5;
  text-align: left;
  color: #333333;
}



.info h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    text-align: left;
}


.detail,
.reserve {
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 17px;
  
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.detail {
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 17px;

 background-color: #81b3d2; 
}

.detail:hover {
  color: #ffffff !important;
  background-color: #669ec0;
}

.detail:active,
.detail:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reserve {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: #766357;
}

.reserve:hover {
  color: #ffffff !important;
  background-color: #604e43;
}

.reserve:active,
.reserve:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
