html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;

  text-transform: uppercase;

  color: #000;
  background-color: #f2f2f2;
}

.page-wrapper {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
}

a {
  text-decoration: none;

  color: #000;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.navigation-list,
.reasons-list,
.advantages,
.socials-list,
.filters-list,
.filters-arrow,
.results-list {
  padding: 0;

  list-style-type: none;
}

.navigation-item a:hover:not(.current),
.socials-item a:hover,
.name a:hover,
.navigation-item a:focus:not(.current),
.socials-item a:focus,
.name a:focus {
  color: #81b3d2;
}

.navigation-item a:active:not(.current),
.socials-item a:active,
.name a:active {
  color: rgba(0, 0, 0, .3);
}

.current {
  color: #766357;
}

.navigation {
  position: relative;
}

.navigation ul {
  display: flex;

  margin: 0;
  padding: 0 72px;
}

.logo {
  position: absolute;
  z-index: 1;

  margin-left: 50%;

  transform: translateX(-50%);
}

.navigation-item {
  width: 25%;
  margin: 0;
  padding: 15px 0; 
  
  font-weight: bold;
}

.navigation-item:last-child,
.navigation-item:nth-child(3) {
  text-align: right;
}

.navigation-item:nth-child(3) {
  margin-left: 82px;
}

.promo {
  position: relative;

  display: flex;
  flex-direction: column;

  box-sizing: content-box;

  background-color: #a9a9a9;
  background-image: url(../img/polygon.png), url(../img/background-photo.jpg);
  background-repeat: no-repeat;
  background-position: 0 449px, 0 -80px;
}

.promo-picture img {
  position: relative;

  margin: 0;
  margin-left: 50%;
  padding-top: 76px;
  padding-bottom: 70px;

  transform: translateX(-50%);
}

.promo-wrapper {
  width: 1200px;
  height: 216px;

  background-color: #fff;
}

.promo-caption {
  width: 440px;
  margin-top: 61px;
  margin-left: 380px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
}

.promo-reasons {
  margin-top: 28px;

  text-align: center;
  color: #333;
}

.reasons ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reasons-list {
  margin: 0;

  line-height: 1.5;
  text-align: center;
  color: #333;
}

.reasons-list h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

.reasons-list h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
}

.reasons-item {
  display: flex;
  flex-wrap: wrap;
}

.reasons-info {
  width: 400px;
  padding-top: 46px;
  padding-bottom: 57px;
}

.reasons-info p {
  width: 280px;
  margin: 0 auto;
  padding-top: 25px;
}

.reasons-info p:last-child {
  padding-top: 20px;
}

.reasons-info-last p {
  width: 259px;
}

.img-wrap {
  width: 800px;
}

.img-wrap img {
  display: block;
}

.reasons-info h2 {
  width: 155px;
  margin: 0 auto;
  
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.advantages-item {
  width: 33.33%;
  padding-top: 140px;
  padding-right: 55px;
  padding-bottom: 70px;
  padding-left: 60px;
}

.advantages-item p {
  margin-top: 24px;
}

.advantages .house {
  position: relative;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: left 162px top 60px;
  background-size: 75px 72px;
}

.advantages .souvenirs {
  position: relative;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: left 162px top 60px;
  background-size: 75px 72px;
}

.advantages .food {
  position: relative;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: left 162px top 60px;
  background-size: 75px 72px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse p {
  width: 302px;
}

.blue-bg {
  color: #fff;
  background-color: #81b3d2;
}

.blue-bg h2 {
  color: #fff;
}

.gray-bg {
  color: #333;
  background-color: #eee;
}

.advantages {
  display: flex;

  color: #333;
  background-color: #fff;
}

.offers {
  position: relative;

  margin: 0;

  line-height: 1.71;
  color: #333;
}

.offers h2 {
  margin: 0;
  padding-top: 51px;
  padding-bottom: 25px;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000;
}

.question {
  width: 434px;
  margin: 0 auto;
  padding-bottom: 49px;

  text-align: center;
}

.question p {
  margin: 0;
}

.offers-button {
  display: block;

  width: 568px;
  margin: 0 auto;
  padding: 30px 138px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
  border: none;
  background-color: #766357;
}

.offers-button:hover,
.offers-button:focus {
  background-color: #604e43;
}

.offers-button:active {
  color: rgba(255, 255, 255, .3);
  background-color: #503e33;
}

.form {
  position: absolute;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  width: 568px;
  margin-left: 50%;
  padding: 55px;

  font-weight: bold;
  color: #000;
  background-color: #fff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, .15);
  
  transform: translateX(-50%);
  transform-origin: top center;
  animation-name: emergence;
  animation-duration: .5s;
}

@keyframes emergence {
  0% {transform: scaleY(0) translateX(-50%);}

  100% {transform: scaleY(1) translateX(-50%);}
}

.offers-button {
  position: relative;
  z-index: 1;

  cursor: pointer;
}

.form-wrap {
  position: relative;
  z-index: 2;

  display: none;
}

.map {
  z-index: 0;
  bottom: 122px;

  width: 1200px;
  height: 593px;
  min-height: 593px;
  margin-bottom: -122px;

  background-color: #f2f2f2;
}

.image-map { 
  position: absolute;
  z-index: 0;
}

.map-link {
  position: relative;
  z-index: 1;
}

.form-show {
  display: block;
}

.form p:last-child {
  margin: 54px 0 0 0;
}

.full-width {
  position: relative;

  display: flex;

  width: 100%;
  margin: 0;
  margin-bottom: 30px;

  align-items: center;
}

.form input[type='text'] {
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  margin-left: auto;
  padding: 0;
  padding-right: 40px;
  padding-left: 13px;

  text-transform: uppercase;
  font-weight: bold;

  border: 2px solid transparent;
  background-color: #f2f2f2;
}

::-webkit-input-placeholder {color: #000;}
::-moz-placeholder {color: #000;}/* Firefox 19+ */
:-ms-input-placeholder {color: #000;}

.form input[type='text']:hover,
.form input[type='number']:hover {
  background-color: #ebebeb;
}

.form input[type='text']:focus,
.form input[type='number']:focus {
  border: 2px solid #e5e5e5;
  background-color: #fff;
}

.calendar {
  position: absolute;
  top: 0;
  right: 0;

  width: 38px;
  height: 38px;
  margin: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
}

.calendar svg:hover,
.calendar svg:focus {
  fill: #000;
}

.calendar svg:active {
  fill: #81b3d2;
}

.form input[type='number'] {
  position: relative;

  width: 38px;
  height: 38px;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  border: 2px solid transparent;
  background-color: #f2f2f2;
  box-shadow: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
       appearance: textfield;
}

.half-width {
  display: flex;

  width: 50%;
  margin: 0;

  align-items: center;
}

.plus,
.minus {
  font-weight: bold;

  position: relative;

  width: 38px;
  height: 38px;

  cursor: pointer;

  color: #a9a9a9;
  border: none;
  background-color: #f2f2f2;
}

.plus:hover::before,
.plus:focus::before,
.minus:hover::before,
.minus:focus::before,
.plus:hover::after,
.plus:focus::after {
  background-color: #000;
}

.plus:active::before,
.plus:active::after,
.minus:active::before {
  background-color: #81b3d2;
}

.minus {
  margin-left: auto;
}

.minus::before {
  position: absolute;
  top: 17px;
  left: 13px;

  width: 13px;
  height: 3px;

  content: '';

  background-color: #a9a9a9;
}

.plus::before,
.plus::after {
  position: absolute;
  top: 17px;
  left: 13px;

  width: 13px;
  height: 3px;

  content: '';

  background-color: #a9a9a9;
}

.plus::after {
  transform: rotate(90deg);
}

.children {
  padding-left: 53px;
}

.find {
  width: 458px;
  height: 58px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
  border: none;
  background-color: #81b3d2;
}

.find:hover,
.find:focus {
  background-color: #669ec0;
}

.find:active {
  color: rgba(255, 255, 255, .3);
  background-color: #5496bd;
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}

  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}

  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.modal-error {
  animation-name: shake;
  animation-duration: .6s;
}

.index-footer {
  position: absolute;
  bottom: 0;

  background-color: rgba(254, 254, 254, .9);
}

.page-footer {
  position: relative;
  z-index: 1;

  display: flex;

  margin: 0;
  padding-top: 33px;
  padding-bottom: 32px;

  color: #000;

  align-items: center;
}



.contacts {
  display: flex;
  flex-direction: column;

  margin: 0 auto; 
  margin-left: 124px;
  
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.footer-parth {
  display: flex;
  width: 400px;
}

.tel {
  padding-top: 5px;
}


.socials {
  display: flex;
  margin: 0 auto;
}

.socials-list {
  display: flex;
  margin: 0 auto;
}

.socials-item {
  position: relative;

  display: flex;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.socials-item a {
  width: 46px;
}

.socials-item:not(:last-child) {
  margin-right: 6px;
}

.socials-item a:focus,
.socials-item a:hover {
  background-color: #669ec0;
}

.socials-item a:active {
  background-color: #669ec0;
}

.twitter::before {
  position: absolute;

  width: 46px;
  height: 48px;

  content: '';

  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.facebook::before {
  position: absolute;

  width: 46px;
  height: 48px;

  content: '';

  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.youtube::before {
  position: absolute;

  width: 46px;
  height: 48px;

  content: '';

  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.twitter:active,
.facebook:active,
.youtube:active {
  opacity: .3;
}

.copyright {
  display: flex;

  margin: 0 auto;

  align-items: center;
}

.copyright p {
  margin-top: 10px;
}

.htmlacademy-logo {
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.htmlacademy-logo:hover svg,
.htmlacademy-logo:focus svg {
  width: 115px;
  height: 41px;

  fill: #81b3d2;
}

.htmlacademy-logo:active svg {
  width: 115px;
  height: 41px;

  fill: #bdbbbc;
}

.registration {
  line-height: 1.5;

  position: relative;

  color: #fff;
  background-color: #766357;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.registration-form {
  display: flex;

  padding: 28px 60px;
  padding-bottom: 23px;
}

fieldset {
  border: 0 none;
}

.housing {
  margin-left: 94px;
}

.registration p {
  margin: 0;
  margin-top: 23px;
}

.registration label {
  position: relative;

  display: block;

  padding-left: 42px;
}

input[type='checkbox']:focus + label {
  outline: 2px solid  #81b3d2;
}

input[type='checkbox']:checked:focus + label {
  outline: 2px solid  #81b3d2;
}


input[type='checkbox']:checked + label::before {
  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  content: '';

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

input[type='checkbox']:checked:disabled + label::before {
  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  content: '';

  background-image: url(../img/checkbox-on-2.svg);
  background-repeat: no-repeat;
}

input[type='checkbox']:disabled + label::before {
  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  content: '';

  background-image: url(../img/checkbox-off-3.svg);
  background-repeat: no-repeat;
}

input[type='checkbox'] + label::before {
  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  content: '';

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.infrastructure-legend,
.housing-legend,
.cost-name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;

  text-align: left;

  color: #fff;
}

.cost-wrap {
  box-sizing: content-box;
  margin-left: auto;
}

.cost-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;

  margin-top: -5px;
  margin-bottom: 9px;
}

.cost-control {
  font-size: 0;

  position: relative;

  height: 32px;
  margin-bottom: 20px;

  border: 2px solid #fff;
  border-radius: 2px;
}

.cost-control::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  transform: translate(-50%, -50%);

  background: #fff;
}

.cost-control label {
  display: inline-block;

  font-size: 14px;
  line-height: 33px;

  cursor: pointer;
  vertical-align: top;
}

.cost-control .min-price {
  width: 98px;
  padding-left: 67px;
}

.cost-control .max-price {
  width: 98px;
  padding-left: 47px;
}

.cost-control input {
  font: inherit;
  line-height: 100%;

  width: 50px;
  margin: 0;

  color: inherit;
  border: none;
  background: none;
}

.cost-range {
  position: relative;

  margin-bottom: 32px;
}

.cost-range .scale {
  height: 2px;

  background: rgba(255, 255, 255, .3);
}

.cost-range .bar {
  width: 80%;
  height: 2px;

  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
  
  transform: scale(1.1);
}

.show {
  display: block;

  margin: 0 auto;
  margin-left: 82px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;

  cursor: pointer;
  text-transform: uppercase;

  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  background: transparent;
}

.show:hover {
  color: #000;
  background: #fff;
}

.filters {
  display: flex;
  align-items: baseline;
  padding: 9px 72px;
  
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  color: #000;
}

.filters-list {
  display: flex;
}

.sorting {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;

  padding-left: 49px;
}

.filters-item {
  font-weight: 400;

  padding-right: 33px;
}

.filters-item:first-child {
  padding-left: 40px;
}

.filters-item a {
  font-size: 12px;
  line-height: 1.5;

  text-align: left;
  text-decoration: underline;

  opacity: .3;
  color: rgba(0, 0, 0, .3);

  text-decoration-style: dashed;
}

.filters-item a:hover {
  text-decoration: underline;

  opacity: 1;
  color: #81b3d2;

  text-decoration-style: dashed;
  text-decoration-color: #81b3d2;
}

.filters-item a:active {
  text-decoration: none;

  opacity: 1;
  color: #000;
}

.filters-item a:focus {
  text-decoration: none;

  opacity: 1;
  color: #81b3d2;
}

.active-filters a {
  text-decoration: none;

  opacity: 1;
  color: #81b3d2;
}

.filters-arrow {
  display: flex;

  margin-left: auto;
}

.up svg {
  fill: #cacaca;
}


.up:hover svg,
.up:focus svg {
  fill: #000;
}

.up:active svg {
  fill: #81b3d2;
}

.up {
  margin-right: 11px;
}

.down svg {
  fill: #81b3d2;
}

.results-list {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.results-item {
  display: flex;

  padding: 29px 72px;

  border-top: 1px solid #f2f2f2;
}

.results-item:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.image-wrap {
  margin-right: 30px;
}

.image-wrap img {
  display: block;
}

.info {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.info p {
  margin: 0;
}

.name {
  margin-top: -5px;
}

.info h2 {
  margin: 0;
  
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
}

.colls {
  display: flex;

  line-height: 1.5;
  text-align: left;
  color: #333;
}

.colls p {
  padding-bottom: 14px;
}

.left-col {
  display: flex;
  flex-direction: column;
}

.right-col {
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  flex-direction: column;

  margin-left: auto;

  justify-content: space-between;
}

.stars {
  margin-bottom: 42px;

  background-image: url(../img/star.svg);
  background-repeat: space;
}

.four {
  width: 89px;
  height: 21px;
  margin-left: 25px;
}

.three {
  width: 65px;
  height: 21px;
  margin-left: 46px;
}

.two {
  width: 41px;
  height: 21px;
  margin-left: 71px;
}

.rating p {
  margin: 0;
  padding-right: 13px;
  padding-bottom: 3px;
  padding-left: 16px;

  text-align: center;

  color: #666;
  background-color: #f2f2f2;
}

.detail,
.reserve {
  font-weight: bold;

  margin: 0;
  padding-top: 3px;
  padding-right: 17px;
  padding-bottom: 3px;
  padding-left: 16px;

  color: #fff;
}

.detail {
  margin-right: 6px;

  background-color: #81b3d2;
}

.detail:hover,
.detail:focus {
  color: #fff;
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, .3);
  background-color: #5496bd;
}

.reserve {
  background-color: #766357;
}

.reserve:hover,
.reserve:focus {
  color: #fff;
  background-color: #604e43;
}

.reserve:active {
  color: rgba(255, 255, 255, .3);
  background-color: #503e33;
}

.contacts-hotel {
  margin-left:130px;
}